@* E' IL FILE BASE.HTML CHE USO IN DJANGO, DA CUI EREDITANO LE ALTRE VIEW *@

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco dei Corsi</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>pagina1</li>
                <li>pagina2</li>
                <li>pagina3</li>
                <li>pagina4</li>
                <li>pagina5</li>
            </ul>
        </nav>
    </header>

    @RenderBody()  @* è come in django per {% block content %}{% endblock content %} *@

    <footer>
        <p>contattaci al numero...</p>
    </footer>
</body>
</html>