@model HomeViewModel

<div class="jumbotron my-5">
  <h1 class="display-4">@ViewData["Title"]</h1>
  <p class="lead">Impara in maniera facile e divertente con i nostri corsi online<br>Scegli da un vasto catalogo sempre a tua disposizione</p>
  <hr class="my-4">
  <p><a class="btn btn-primary btn-lg" asp-controller="Courses" asp-asp-action="Index">Sfoglia il Catalogo</a></p>
</div>

<h2>I migliori di sempre</h2>

    @*  partial view. 
        l'attributo 'name' indica dove si trova il file a partire dalla cartella Shared.
        l'attributo 'model' è quello che gli passi, e deve chiamarsi proprio cosi. *@

<partial name="Courses/_CourseList" model="@Model.BestRatingCourses"></partial>  


<br><br>

<h2>Aggiunti di recente</h2>
<partial name="Courses/_CourseList" model="@Model.LatestCourses"></partial>  
